.App {
  text-align: center;
  background-color: rgb(255, 248, 236);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes mymove {
  0% {
    opacity: 0;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.coffeeCard {
  text-shadow: 0 0 5px rgb(189, 117, 76);

  font-style: "bold";
  text-shadow: 0 0 5px rgb(0, 0, 0);
  font-family: "Lobster";
  font-size: 65;
  animation: mymove 2.5s;
}
.animation {
  animation: mymove 2s;
}
.welcome {
  animation: mymove 2.5s;
}
button {
  color: red;
}

button:hover {
  box-shadow: 0 0 10px rgb(121, 55, 1);
}

.card {
  box-shadow: 2px 3px 0px rgb(156, 77, 30);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background-color: rgb(255, 248, 236);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
